@charset "UTF-8";

/*
    header 
 */

header {
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 64px;
    z-index: 100;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 8px;
}

.header-content h1 {
    color: white;
    margin: 0;
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.header-nav-item a {
    color: white;
    text-decoration: none;
    font-size: large;
    margin: 0 10px;
}

.header-nav-item a:hover {
    color: darkseagreen;
}

/* 
    container
 */

.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: min(100%, 1200px);
    height: 100%;
    margin: 0 auto;
}

/*
    main
 */

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    padding-top: 64px;
    margin-top: -64px;
}

.section-title {
    position: relative;
    text-align: center;
    padding: 0 32px;
    font-size: xx-large;
    white-space: nowrap;
    width: 100%;
}

.section-title span {
    background-color: white;
    padding: 0 16px;
    position: relative;
    z-index: 1;
}

/* horizontal lines to both sides of the title */
.section-title::before {
    content: '';
    position: absolute;
    top: calc(50% - 6px);
    left: calc((100% - max(50%, 240px)) / 2);
    width: max(50%, 240px);
    height: 12px;
    transform: skew(-30deg);
    background-color: rgb(163, 163, 163);
}

.section-title::after {
    content: '';
    position: absolute;
    top: calc(50% - 6px);
    left: calc((100% - max(40%, 200px)) / 2);
    width: max(40%, 200px);
    height: 12px;
    transform: skew(-30deg);
    background: radial-gradient(circle, rgb(0, 255, 157) 0%, rgb(75, 204, 193) 100%);
}

/* 
    main:home
 */

aside {
    width: 320px;
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(172, 212, 204) 0%, rgb(117, 171, 175) 100%);
}

.profile {
    position: sticky;
    top: calc(64px + 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
    margin: 16px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 16px;
}

.account-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px 0;
}

.account-item a img{
    padding: 8px;
    width: 48px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
}

.university {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* 
    main:article
 */

article {
    flex-grow: 1;
    border-radius: 10px;
    width: 90%;
    padding: 16px 0;
    min-width: 256px;
}

/* 
    main:article:skills
 */

.language-list,
.tool-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 16px 0;
    position: relative;
}

.language-item,
.tool-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    background-color: white;
    margin: 8px;
    width: 20%;
    min-width: 128px;
}

.language-item img,
.tool-item img {
    width: 48px;
    height: 48px;
}

/*
    main:article:history
 */

 
.education-content,
.qualification-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    width: clamp(256px, 70%, 600px);
    margin: 16px 0;
}

.education-content::before,
.qualification-content::before {
    content: '';
    position: absolute;
    top: 0.5em;
    left: -24px;
    width: calc(100% + 48px);
    height: calc(100%);
    background: linear-gradient(-120deg, rgb(72, 216, 204) 0%, rgb(149, 233, 215) 100%);
    z-index: -1;
}

.education-content::before {
    animation: wavy-box-animation1 60s infinite ease-in-out;
}

.qualification-content::before {
    animation: wavy-box-animation2 60s infinite ease-in-out;
}

.education-content h3,
.qualification-content h3 {
    margin-left: 10%;
    padding: 0 48px 0 16px;
    width: fit-content;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.education-list,
.qualification-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px 0;
    width: 100%;
    position: relative;
}

.history-info-box {
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 24px;
    padding-top: 8px;
    margin: 10px;
    width: 100%;
    position: relative;
}

.history-info-box::after {
    content: '';
    background-color: rgba(187, 224, 216, 0.75);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -8px;
    left: 8px;
    z-index: -1;
}


@keyframes wavy-box-animation1 {
    0%   {border-radius: 24% 32% 60% 48% / 32% 60% 48% 24%;}
    12%  {border-radius: 24% 48% 60% 32% / 48% 60% 32% 24%;}
    25%  {border-radius: 32% 60% 48% 24% / 60% 48% 24% 32%;}
    38%  {border-radius: 48% 60% 32% 24% / 60% 32% 24% 48%;}
    50%  {border-radius: 60% 48% 24% 32% / 48% 24% 32% 60%;}
    62%  {border-radius: 60% 32% 24% 48% / 32% 24% 48% 60%;}
    75%  {border-radius: 48% 24% 32% 60% / 24% 32% 60% 48%;}
    88%  {border-radius: 32% 24% 48% 60% / 24% 48% 60% 32%;}
    100% {border-radius: 24% 32% 60% 48% / 32% 60% 48% 24%;}
}

@keyframes wavy-box-animation2 {
    0%   {border-radius: 32% 60% 24% 48% / 60% 48% 32% 24%;}
    12%  {border-radius: 48% 60% 24% 32% / 60% 32% 48% 24%;}
    25%  {border-radius: 60% 48% 32% 24% / 48% 24% 60% 32%;}
    38%  {border-radius: 60% 32% 48% 24% / 32% 24% 60% 48%;}
    50%  {border-radius: 48% 24% 60% 32% / 24% 32% 48% 60%;}
    62%  {border-radius: 32% 24% 60% 48% / 24% 48% 32% 60%;}
    75%  {border-radius: 24% 32% 48% 60% / 32% 60% 24% 48%;}
    88%  {border-radius: 24% 48% 32% 60% / 48% 60% 24% 32%;}
    100% {border-radius: 32% 60% 24% 48% / 60% 48% 32% 24%;}
}